<h1 class="mb-4">Категории</h1>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
  <tr>
    <th>Название</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <%= link_to "Показать", category_path(category), class: "btn btn-info btn-sm" %>
        <%= link_to "Редактировать", edit_category_path(category), class: "btn btn-warning btn-sm" %>
        <%= link_to "Удалить", category_path(category), method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-danger btn-sm" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Добавить категорию", new_category_path, class: "btn btn-success" %>
