<% content_for :title, "Show category" %>

<p style="color: green"><%= notice %></p>

<%#= render @category %>

<div class="card p-4 shadow">
  <p><strong>Название категории:</strong> <%= @category.name %></p>
</div>

<br>

<div>
  <%= link_to "Edit this category", edit_category_path(@category), class: "btn btn-warning btn-sm"%> |
  <%= link_to "Delete this category", @category, method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-danger btn-sm"%> |
  <%= link_to "Back to categories", categories_path, class: "btn btn-secondary btn-sm" %>
</div>
